.sidebar{
    background-color: #111B3C;
    border-right: 2px solid ;
    min-height: 100vh;
   
   
   
    flex:1;

    .top{
         margin-top: 40px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section{
        margin-top: 50px;
       justify-content: center;
      margin-left:40px;
}

ul{
    list-style: none;
   
    font-weight: 500;
    font-size: medium;
    
}

li{
    padding: 5px;
    cursor: pointer;
    &:hover{
        border: aliceblue solid;
        border-radius:6px;
       
    }
}
    
}

